html {
  background-color: #c4c4c4;
  text-align: center;
}
body {
  margin: 0;
}
main {
  height: 667px;
  width: 375px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
#road {
  background: white url("../img/road.png") 0 -667px repeat-y;
  height: 1374px;
  top: -667px;
  width: 375px;
}
#speed {
  color: white;
  font: 10em "Open Sans", sans-serif;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 5px black;
  top: 0;
  width: 375px;
}
#player-car {
  position: absolute;
  bottom: 20px;
  right: 80px;
}
.obstacle {
  position: absolute;
  transform: rotate(180deg);
}
